# Environment variables
.env

# Keep example file
!.env.exemple

# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Tests
coverage/
.nyc_output/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.vscode/
.kiro/*